<% if notice %>
  <div id="flash" class="flash msg-ok"><p><%= flash[:notice] %></p></div>
<% end %>

<% if alert %>
  <div id="flash" class="flash msg-error"><p><%= flash[:alert] %></p></div>
<% end %>
