<% page_title(title) %>

<header class="main">
  <%= link_to "#", :id=>"more-button", :class=>"header-button header-button-icon header-button-left" do %>
    <button><i class="icon-more">More</i></button>
  <% end %>

  <%= render "layouts/shared/dropdown" %>

  <h1><%= title %></h1>

  <%= action_link(action) %>
</header>
