<li>
  <p class="metadata">
    <b><%= link_to comment.user.username, user_path(comment.user) %></b>
    <time>
      <%= link_to render_time(comment.created_at), news_comment_path(@news, comment) %>
    </time>
  </p>
  <%= nice_format comment.content %>
  <%= link_to "Dodaj komentar", new_news_comment_path(@news, :parent_id => comment), :class => "reply" %>
</li>
