<%= render "layouts/shared/header", :title => "Dodaj komentar", :action => "home" %>

<div class="scroll">

    <section class="comments">

      <ul>
        <%= nested_comments(@comment.ancestors.arrange) %>
      </ul>

      <%= render "form" %>

      <div class="back">
        <%= link_to "â† Povratak na utisak", news_path(@news)  %>
      </div>

    </section>

</div>
