<%= render "layouts/shared/header", :title => "Komentar korisnika: #{@comment.user.username}", :action => "home" %>

<div class="scroll">

    <section class="comments">

      <ul>
        <%= nested_comments(@comment.path.arrange) %>
      </ul>

      <div class="back">
        <%= link_to "â† Povratak na utisak", news_path(@news) %>
      </div>

    </section>

</div>
