<%= render "news/news_header" %>

<div class="scroll">

    <section class="comments">

      <ul>
        <%= nested_comments(@comment.path.arrange) %>
      </ul>

      <%= link_to "Back", news_path(@news) %>

    </section>

</div>
