<%= render "news/news_header" %>

<div class="scroll">

    <section class="comments">

      <ul>
        <%= nested_comments(@comment.path.arrange) %>
      </ul>

      <div class="back">
        <%= link_to "â† Povratak na utisak", news_path(@news)  %>
      </div>

    </section>

</div>
