<form>
<label>Email</label>
  {{view Ember.TextField valueBinding="view.email"}}
<label>Password</label>
  {{view Ember.TextField type="password" valueBinding="view.password"}}
<button>Sign In</button>
</form>
