<div class="bookmarklet">
  Utisak je moguće koristiti i pomoću bookmarkleta. Prevucite ovaj link u traku sa prečicama, od sada u bilo kom trenutku možete sa lakoćom da podelite bilo koji link, jednim klikom na utisak bookmarlet.
  <%= link_to("postavi na utisak.com", bookmarklet_url) %>
</div>
