<%= render "layouts/shared/header", :title => "Utisak, vesti koje se pamte", :action => "new" %>

<div class="scroll">
  <section>
    <ul class="tableview tableview-links" id="hwlist results">

      <%= render "news" %>

      <li>
      <%= link_to_next_page @news, 'Load More', :class => "more-link" %>
      </li>

    </ul>
  </section>
</div>
