<%= render "layouts/shared/header", :title => "Utisak, vesti koje se pamte", :action => "new" %>

<div class="scroll">
  <section>
    <ul class="tableview tableview-links" id="hwlist results">

      <%= render "news" %>

    </ul>

      <%= link_to_next_page @news, 'Učitaj još', :remote => true, :id=>"load_more_link", :class => "more-link" %>

  </section>
</div>
