<header class="main">
<%= link_to "#", :class=>"header-button header-button-icon header-button-left" do %>
  <button><i class="icon-more">More</i></button>
<% end %>
<h1>Dodaj svoj utisak</h1>

<a class="header-button header-button-icon header-button-right" id="content-home">
  <button><i class="icon-home">Home</i></button>
</a>
</header>

<div class="scroll">
  <section>
    <ul class="tableview tableview-links" id="hwlist">


    </ul>
  </section>
</div>
