<%= render "layouts/shared/header", :title => "Dodaj svoj utisak", :action => "home" %>

<div class="scroll">
  <section>
    <ul class="tableview tableview-links" id="hwlist">

      <%= render "form" %>

    </ul>
  </section>
</div>
