<%= render "news_header" %>

<div class="scroll">
  <section>

    <%= render "news_show" %>

    <section class="comments">

    <% if user_signed_in? -%>
      <%= render "comments/form" %>
    <% else -%>
    <% end  -%>

      <ul>
        <%= nested_comments @comments.arrange(:order => :created_at) %>
      </ul>

    </section>

  </section>
</div>
