<%= render "layouts/shared/header", :title => "Utisak api", :action => "home" %>

<div class="scroll">
  <section>
    <ul class="tableview tableview-links" id="hwlist">
      <h1>Api strana!</h1>
    </ul>
  </section>
</div>
