<%= render "layouts/shared/header", :title => "Markdown", :action => "home" %>

<div class="scroll">
  <section>
  <ul class="tableview tableview-links" id="hwlist">
    <div class="markdown-content"><p>Markdown je alat za konverziju čistog (plain) teksta u HTML sadržaj.  Markdown ima sopstvenu sintaksu koja je veoma jednostavna za korišćenje. Prvenstveno je namenjen osobama koje pišu sadržaj vidljiv na Web-u i prema tome moraju da koriste HTML markup. Markdown je rešenje za pisanje čitkih, jednostavnih tekstualnih dokumenata koji se uz pomoć Markdown softvera konvertuju u validan HTML sadržaj. Dokumenti pisani Markdown sintaksom su veoma čitki pa se čak i ne moraju konvertovati u HTML ako ih čitate u običnom text editor-u. <a href="http://daringfireball.net/">John Gruber</a>, autor Markdown-a, je inspiraciju za stvaranje Markdown-a pronašao u jednostavnom formatu tekstualnih e-mail poruka.

            </p>
            <p>U ovom članku će biti opisane mogućnosti i primene Markdown sintakse kroz mnoštvo primera. Nakon zvanične verzije Markdown-a <a href="http://daringfireball.net/projects/markdown/syntax">http://daringfireball.net/projects/markdown/syntax</a>, upoznaću vas sa <a href="http://github.github.com/github-flavored-markdown/">GFM</a> unapređenim Markdown-om, kao i sa varijantom specifičnom za <em>Node Srbija</em>, jer sve to možete koristiti na ovom sajtu.
            <input type="hidden" value="cutHere">

            </p>
            <p><em>Markdown pored svoje sintakse dozvoljava i upotrebu klasičnog HTML-a. Specijalni karakteri kao što su <code>&gt;</code> i <code>&amp;</code> će automatski biti </em> escape-ovani. To znači da <code>4 &lt; 5</code> jednostavno tako i napišete.<br><em>Napomena: upotreba HTML-a na ovom sajtu je blokirana iz bezbednosnih razloga.</em>

            </p>
            <h3>Pasusi (paragraphs)</h3>
            <p>Pasus je jednostavno skup rečenica opciono odvojenih novim redom.<br>Da biste napravili novi red (<code>&lt;br /&gt;</code>), rečenicu završite sa dva razmaka pre nego što pređete u novi red.

            </p>
            <p>Ovo je primer pasus. Još jedna test rečenica u istom pasusu koja se završava sa dva razmaka pa novi red.<br>Primetićete da je ovaj tekst u novom redu.

            </p>
            <h3>Naslovi (headers)</h3>
            <p>Postoje dva načina da kreirate naslov (header).

            </p>
            <ol>
              <li>Da podvučete tekst sa bilo kojim brojem znakova jednako (<code>=</code>) ukoliko želite <strong>h1</strong> tag, ili ukoliko želite <strong>h2</strong> tag sa znakovima povlaka (<code>-</code>).</li>
              <li>Započnete rečenicu sa određenim brojem znakova taraba (<code>#</code>). Broj znakova je od 1 - 6 u zavisnosti od željenog taga <strong>h1 - h6</strong>.</li>
            </ol>
            <p>a) Kod prvog načina broj karaktera kojim podvlačite tekst nije bitan:

            </p>
            <h1>Ovo je primer za h1</h1>
            <pre><code class="undefined">
            Ovo je primer za h1
            =============</code></pre>
            <h2>Ovo je primer za h2</h2>
            <pre><code class="undefined">Ovo je primer za h2
            ----</code></pre>
            <p>b) Kod drugog načina rečenicu možete opciono i završiti sa tarabama (ne mora da se podudara sa brojem započetih taraba). Ovo je više u estetske svrhe kada se dokument čita u text editor-u.

            </p>
            <h1>Ovo je h1</h1>
            <h2>Ovo je h2</h2>
            <h3>Ovo je h3</h3>
            <h4>Ovo je h4</h4>
            <h5>Ovo je h5</h5>
            <h6>Ovo je h6</h6>
            <pre><code class="bash"><span class="comment"># Ovo je h1</span>
            <span class="comment">## Ovo je h2</span>
            <span class="comment">### Ovo je h3</span>
            <span class="comment">#### Ovo je h4</span>
            <span class="comment">##### Ovo je h5</span>
            <span class="comment">###### Ovo je h6</span></code></pre>
            <h3>Citati (blockquotes)</h3>
            <p>Markdown koristi isti princip za citat kao e-mail poruke. Započnite rečenicu sa znakom veće (<code>&gt;</code>):

            </p>
            <blockquote>
              <p>Ovo je čuveni citat.
              Lepo izgleda.
              Baš je čitljiv ovaj Markdown...

              </p>
            </blockquote>
            <pre><code class="undefined">&gt; Ovo je čuveni citat.
            &gt; Lepo izgleda.
            &gt; Baš je čitljiv ovaj Markdown...</code></pre>
            <p>Markdown ne zahteva da svaki red započne sa znakom <code>&gt;</code>, već je potrebno da barem prvi red započnete sa <code>&gt;</code>. Citati mogu sadržati i druge elemente (tagove) uključujući i sam citat:

            </p>
            <blockquote>
              <p>Ovde je započet citat.<br><code>console.log()</code> ili <code>alert()</code>?
              <em>Pa naravno <code>console.log()</code> osim ako nemate sreće pa naletite na <strong>IE</strong> :-D</em>
              </p>
              <blockquote>
                <p>Čuveni mislilac

                </p>
              </blockquote>
            </blockquote>
            <pre><code class="undefined">&gt; Ovde je započet citat.
            `console.log()` ili `alert()`?
            _Pa naravno `console.log()` osim ako nemate sreće pa naletite na **IE** :-D_
            &gt; &gt; Čuveni mislilac</code></pre>
            <h3>Liste</h3>
            <p>Markdown podržava uređene (ordered) i neuređene (unordered) liste.

            </p>
            <p>Za unordered liste možete koristiti karaktere zvezdica (<code>*</code>), povlaka (<code>-</code>) ili plus (<code>+</code>):

            </p>
            <ul>
              <li>Ovo je list item1 u unordered listi</li>
              <li>Ovo je list item2 u unordered listi</li>
              <li>Ovo je list item3 u unordered listi</li>
            </ul>
            <pre><code class="undefined">- Ovo je list item1 u unordered listi
            - Ovo je list item2 u unordered listi
            - Ovo je list item3 u unordered listi</code></pre>
            <p>Za ordered liste potrebno je da linija započne sa brojem pa tačkom (<code>.</code>):

            </p>
            <ol>
              <li>Ovo je list item1 u ordered listi</li>
              <li>Ovo je list item2 u ordered listi</li>
              <li>Ovo je list item3 u ordered listi</li>
            </ol>
            <pre><code class="undefined">1. Ovo je list item1 u ordered listi
            2. Ovo je list item2 u ordered listi
            3. Ovo je list item3 u ordered listi</code></pre>
            <p>Bitno je napomenuti da redosled brojeva koje navodite ne utiče na redosled u generisanom HTML-u. To znači da sledeći primer daje isti rezultat kao i prethodni:

            </p>
            <ol>
              <li>Ovo je list item1 u ordered listi</li>
              <li>Ovo je list item2 u ordered listi</li>
              <li>Ovo je list item3 u ordered listi</li>
            </ol>
            <pre><code class="undefined">1. Ovo je list item1 u ordered listi
            8. Ovo je list item2 u ordered listi
            3. Ovo je list item3 u ordered listi</code></pre>
            <p>Za obe vrste listi neophodno je da stavite jedan ili više razmaka ili tab nakon markera liste:

            </p>
            <pre><code class="undefined">-Ovo ne radi jer nema razmak posle povlake
            1.Nije dobro jer nema razmak posle tačke.</code></pre>
            <p>Svaki list item može sadržati pasuse, citate i druge elemente s' tim što je neophodno uvući tekst za 4 razmaka ili jednim tabom ukoliko ne želite da tekst bude obuhvaćen sa <code>p</code> tagom:

            </p>
            <ul>
              <li>Ovo je list item1</li>
              <li>Ovde imamo jedan red u <code>&lt;li&gt;</code>.</li>
              <li><p>Ovo je prvi pasus.</p>
              <p> Ovo je drugi pasus.
              <code>Nije neophodno uvući svaki red.</code><br>Dovoljno je samo prvi.</p>
              <blockquote>
                <p>Lepše je uvući svaki red.
                Tako će biti čitkiji dokument
                ukoliko ga čitamo u text editor-u.</p>
              </blockquote>
              </li>
            </ul>
            <pre><code class="xml">+  Ovo je list item1
            +  Ovde imamo jedan red u `<span class="tag">&lt;<span class="title">li</span>&gt;</span>`.
            +  Ovo je prvi pasus.

                Ovo je drugi pasus.
                `Nije neophodno uvući svaki red.`
                Dovoljno je samo prvi.

                    &gt; Lepše je uvući svaki red.
                        &gt; Tako će biti čitkiji dokument
                            &gt; ukoliko ga čitamo u text editor-u.</code></pre>
            <h3>Višeredni kôd</h3>
            <p>Kada želite da prikažete primere kôda uglavnom ćete koristiti ovaj element. Da biste kreirali višeredni kôd potrebno je da sve linije koje će se nalaziti u ovom bloku uvučete za 4 razmaka ili sa jednim tabom:

            </p>
            <pre><code class="javascript"><span class="keyword">var</span> magija = <span class="function"><span class="keyword">function</span> <span class="params">(v)</span> {</span>
              <span class="keyword">return</span> v.toUpperCase();
              };
              console.log(magija(<span class="string">'da li je ovo cool?'</span>));
              <span class="comment">// DA LI JE OVO COOL?</span></code></pre>
            <pre><code class="javascript">    <span class="keyword">var</span> magija = <span class="function"><span class="keyword">function</span> <span class="params">(v)</span> {</span>
                  <span class="keyword">return</span> v.toUpperCase();
                      };
                          console.log(magija(<span class="string">'da li je ovo cool?'</span>));
                              <span class="comment">// DA LI JE OVO COOL?</span></code></pre>
              <p>Markdown će vaše razmake (ili tab) automatski ukloniti, tako da će rezultat biti identičan kao u pregledu. Specijalni karakteri <code>&amp;</code>, <code>&lt;</code> i <code>&gt;</code> će automatski biti konvertovani u njihove ekvivalentne HTML entitete, dok karakteri koji se koriste u samoj Markdown sintaksi neće biti konvertovani.

              </p>
              <h3>Horizontalne linije (hr)</h3>
              <p>Za <code>hr</code> tag potrebno je da u jednoj liniji napišete 3 ili više karaktera povlaka (<code>-</code>), zvezdica (<code>*</code>) ili donja crta (<code>_</code>). Moguće je stavljati razmake između ovih karaktera:

              </p>
              <hr>
              <hr>
              <hr>
              <hr>
              <pre><code class="undefined">* * *

              ***

              -------

              ________</code></pre>
              <h3>Linkovi</h3>
              <p>U Markdown-u postoje dve vrste linkova: <code>inline</code> i <code>referentni</code>.

              </p>
              <p>a) Za <code>inline</code> link potrebno je da tekst linka obuhvatite uglastim zagradama (<code>[ ]</code>) i odmah nakon toga upišete link koji obuhvatite običnim zagradama (<code>( )</code>). Najbolje jedan primer:

              </p>
              <p><a href="http://wtfjs.com/">Propusti u najboljem programskom jeziku</a>

              </p>
              <pre><code class="javascript">[Propusti u najboljem programskom jeziku](http:<span class="comment">//wtfjs.com/)</span></code></pre>
              <p>Link može imati i <code>title</code> atribut koji će se generisati ako u paru običnih zagrada upišete link, pa jedan razmak pa sam <code>title</code> obuhvaćen navodnicima:

              </p>
              <p><a href="https://github.com/substack" title="Obavezno pogledajte projekte!">Genijalan lik</a>

              </p>
              <pre><code class="javascript">[Genijalan lik](https:<span class="comment">//github.com/substack "Obavezno pogledajte projekte!")</span></code></pre>
              <p><code>title</code> možete obuhvatiti sa dvostrukim ili jednostrukim navodnicima. Možete koristiti i relativne linkove:

              </p>
              <p><a href="/post" title="Node je mnogo gotivan">Ja ovde učim Node</a>

              </p>
              <pre><code class="undefined">[Ja ovde učim Node](/post 'Node je mnogo gotivan')</code></pre>
              <p>b) <code>Referentni</code> linkovi se sastoje od teksta linka obuhvaćenim uglastim zagradama, opciono razmakom i na kraju identifikator linka obuhvaćen uglastim zagradama. Nakon ovoga je potrebno definisati sam link bilo gde u dokumentu (preporuka je odmah nakon završenog pasusa).

              </p>
    </ul>
  </section>
</div>
