<h1>Index</h1>
<h2>There are {{controller.length}} news.</h2>
<ul>
  {{#each controller}}
    <li>{{#linkTo 'news.show' this}}<h3>{{title}}</h3>{{/linkTo}}</li>
    <li>{{externalLink url title}}</li>
{{/each}}
</ul>
