<header class="main">
  {{#linkTo index classNames="header-button header-button-icon header-button-left"}}
    <button><i class="icon-home">Home</i></button>
  {{/linkTo}}

  <h1 style="margin: 0 65px;">Važno.</h1>

</header>

{{view Vazno.AuthView}}
