.comments{
  font-size: 13px;
  .info {
    font-size: 17px;
    line-height: 1.2em;
    padding: 10px 15px;
    color: $dark-gray;
    font-weight: bold;
    border-bottom: 1px solid $light-gray-rgba;
    text-align: center;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.4em;
  }
  ul li{
    padding: 15px;
    border-bottom: 1px solid $light-gray-rgba;
  }
  ul li:last-child{
    border-bottom: 0;
  }
  p{
    margin: 8px 0;
  }
  p.metadata{
    color: #666d74;
    padding: 0;
    margin: 0;
  }
  p.metadata b{
    float: left;
    color: $dark-red;
  }
  p.metadata time a{
    display: block;
    text-align: right;
    font-weight: bold;
    color: #888;
    text-decoration: none;

  }
  p.metadata time a{
    color: #888;
    text-decoration: none;
  }
  p.metadata time a:hover{
    text-decoration: underline;
  }
  p.no-comments{
    text-align: center;
    margin: 50px 0;
    font-size: 16px;
    color: #666;
  }
  li.more-link-container{
    padding: 0;
  }
  li a.more-link{
    text-decoration: none;
    cursor: pointer;
    line-height: 3em;
    padding: 10px;
    display: block;
    color: #2960d9;
    text-align: center;
    font-weight: bold;
  }
  .reply{
    cursor: pointer;
    font-weight: bold;
    color: #666 !important;
    -webkit-user-select: none;
    text-decoration: none;
  }
}

.inline-block{
  display: inline-block;
}

.nested_comment {
  margin-left: 30px !important;

  .nested_comment .nested_comment .nested_comment .nested_comment {
    margin-left: 0 !important;
  }

  li {
    background: transparent url(comment-arrow.png) no-repeat 0 19px;
    background-size: 10px 9px;
    color: #333;
  }
}

.content-button{
  display: block;
  height: 30px;
  line-height: 22px;
  cursor: pointer;
  padding: 0 13px;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  color: #666;
  margin: 2px 0 6px;
  background-color: #f0f0ea;
  border: 0;
  -webkit-user-select: none;
  border-radius: 2px;
  &:hover{
    background-color: #e0e0da;
  }
  &:active{
    background-color: #c8c8c8;
  }
}
