.uniForm { width: 440px; margin: auto; color: $light-asphalt;}

.uniForm.commentForm { width: 100%; margin: auto; }

.uniForm .ctrlHolder{ padding: 28px; border-bottom: 1px solid $light-gray-rgba; }

.uniForm .buttonHolder{
  padding: 28px;
  border-bottom: 1px solid $light-gray-rgba;
  text-align: right;
}

.uniForm .buttonHolder .primaryAction{
  background: $dark-white;
  color: #fff;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  border: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  font-size: 14.996px;
  line-height: 20px;
  padding: 7px 18px 8px;
  font-weight: 500;
  cursor: pointer;
}
.uniForm .buttonHolder .primaryAction:focus,
.uniForm .buttonHolder .primaryAction:hover{
  background-color: #cacfd2;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.uniForm .secondaryAction            { text-align: left; margin-top: 7px; }
.uniForm a.secondaryAction           { color: #237fc6; font-weight: bold; }
.uniForm button.secondaryAction      { background: transparent; border: none; color: #777; margin: 1.25em 0 0 0; padding: 0; }

.uniForm label{ font-weight: bold; }

.uniForm .inlineLabels label em,
.uniForm .inlineLabels .label em{ font-style: normal; font-weight: bold; }
.uniForm label small{ font-size: .75em; color: #777; }

.uniForm .textInput,
.uniForm textarea {
  padding: 4px 2px;
  background: #fff;
  border: 1px solid $dark-white;
  color: $light-asphalt;
  text-indent: 6px;
  -webkit-appearance: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: border .25s linear, color .25s linear;
  -moz-transition: border .25s linear, color .25s linear;
  -o-transition: border .25s linear, color .25s linear;
  transition: border .25s linear, color .25s linear;
  -webkit-backface-visibility: hidden;
}
.uniForm .ctrlHolder .textInput:focus,
.uniForm .ctrlHolder textarea:focus{
  outline: none;
  border-color: $light-asphalt;
}
.uniForm .field_with_errors .textInput{
  border-color: $light-red;
  color: $light-red;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.uniForm textarea    { height: 12em; }
.uniForm.commentForm textarea{ width:99%;}

.uniForm ul li label{ font-size: .85em; }

.uniForm .formHint                    { font-size: .85em; color: #777; }
.uniForm .formHint a, .uniForm .fromHint a:visited { text-decoration:none; color:$light-asphalt;}

.uniForm .inlineLabels .formHint      { padding-top: .5em; }

/* Input actions */
.inputActions { float: right; margin-top: .25em; font-size: .85em; line-height: 1; }
.inputActions-remove{ margin-left: 1em; font-size: 1.5em; }

/* Inline labels */

.uniForm .inlineLabels select{ width: auto; }

/* Field width*/
.uniForm .inlineLabels .textInput, .uniForm .inlineLabels .fileUpload, .uniForm .inlineLabels .selectInput, .uniForm .inlineLabels select, .uniForm .inlineLabels textarea { width: 63%; }

@media only screen and (max-width: 321px){
  .uniForm {width:100%;}
}
