.grouped-tableview{
  margin: 10px 9px 11px;
  padding: 10px;
  border: 1px solid #E0E0E0;
  background-color: #f8f8f5;
  border-radius: 2px;
  overflow: hidden;
}
.grouped-tableview + .grouped-tableview{
  margin-top: 0;
}
.grouped-tableview p{
  margin: 0 0 1em;
}
.grouped-tableview p:last-child{
  margin: 0;
}
.grouped-tableview ul,
.grouped-tableview ol{
  margin: 0 0 0 2em;
  padding: 0;
  line-height: 1.5em;
}
ul.grouped-tableview,
ol.grouped-tableview{
  display: block;
  list-style: none;
  padding: 0;
}
ul.grouped-tableview li,
ol.grouped-tableview li{
  display: block;
  border-bottom: 1px solid #E0E0E0;
  padding: 10px;
}
ul.grouped-tableview li:first-child,
ol.grouped-tableview li:first-child{
  box-shadow: none;
}
ul.grouped-tableview li:last-child,
ol.grouped-tableview li:last-child{
  border-bottom: 0;
}
ul.grouped-tableview-links li,
ol.grouped-tableview-links li{
  padding: 0;
}
ul.grouped-tableview-links li a,
ul.grouped-tableview-links li p,
ol.grouped-tableview-links li a{
  color: #000;
  font-weight: bold;
  display: block;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}
ul.grouped-tableview-links li a:hover,
ol.grouped-tableview-links li a:hover{
  background-color: #F6F6EF;
}
