.tableview{
  margin: 0;
  padding: 0;
  list-style: none;
}
.tableview li{
  display: block;
  border-top: 1px solid $light-gray-rgba;
  padding: 10px;
}
.tableview li:first-child, .tableview li:last-child{
  border-top: 0;
}
.tableview-links li{
  padding: 0;
  position: relative;
}
.tableview-links li a{
  line-height: 1.3em;
  color: $dark-gray;
  display: block;
  padding: 10px 5px;
  text-decoration: none;
}
.tableview-links li a:visited{
  color: $light-gray;
}
.tableview-links li a:hover{
  background-color: $smoke;
}
.tableview-links li a *{
  pointer-events: none;
}
.tableview-links li a .number{
  text-align: right;
  width: 3.5ex;
  position: absolute;
  left: 39px;
  top: 10px;
}
.tableview-links li a .story{
  margin-left: 3.5ex;
  padding-left: 5px;
}
.tableview-links li a .metadata{
  display: block;
  color: $light-gray;
  line-height: 1.2em;
}
.tableview-links li a.detail-disclosure{
  padding-right: 44px;
  padding-left: 44px;
}

.tableview-links li a.detail-vote-button{
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 10px;
  padding: 0;
  z-index: 2;
  width: 44px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.tableview-links li a.disabled {
  cursor: default;
}

.tableview-links li a.disabled:hover{
  background-color: transparent;
  opacity: 0.65;
}
.tableview-links li a.disabled span {
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

.tableview-links li a.detail-disclosure-button{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  z-index: 2;
  width: 44px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.tableview-links li a.detail-vote-button span{
  opacity: .5;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: transparent url(vote-icon.png) no-repeat;
  -webkit-background-size: 14px 14px;
  -moz-background-size: 14px 14px;
  -ms-background-size: 14px 14px;
  -o-background-size: 14px 14px;
  background-size: 14px 14px;
  margin: 15px 0;
}

.tableview-links li a.detail-vote-button:hover span,
.tableview-links li a.detail-disclosure-button:hover span{
  opacity: 1;
}

.tableview-links li a.detail-disclosure-button span{
  opacity: .5;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: transparent url(comments-icon.png) no-repeat;
  -webkit-background-size: 14px 14px;
  -moz-background-size: 14px 14px;
  -ms-background-size: 14px 14px;
  -o-background-size: 14px 14px;
  background-size: 14px 14px;
  margin: 15px 0;
}

a.more-link{
  cursor: pointer;
  line-height: 3em;
  padding: 10px;
  display: block;
  color: $light-asphalt;
  text-align: center;
  font-weight: bold;
  text-decoration:none;
}
