.avatar{
  padding: 15px;
}
.edit{
  background: $light-gray-rgba;
}
.user-info{
  font-size: 17px;
  line-height: 1.2em;
  padding: 10px 15px;
  color: $dark-gray;
  font-weight: bold;
  text-align: center;
}

