header
  background-color: $light-blue

.metabar
  position: absolute
  box-sizing: border-box
  width: 100%
  height: 65px
  @include box-sizing(border-box)
  +at-breakpoint($tablet)
    top: 15px

.metabar--block
  margin: 0 15px

.metabar--btn
  display: inline-block
  color: $white
  font-size: 14px
  height: 38px
  line-height: 38px
  padding: 0 16px
  text-align: center
  text-decoration: none
  border: 1px solid $white
  border-radius: 4px
  vertical-align: bottom
  text-rendering: optimizeLegibility
  background: transparent
  @include box-sizing(border-box)
  &:hover
    text-decoration: none
    opacity: 0.8

.metabar--more
  +at-breakpoint($tablet)
    display: none


.hero
  display: inline-block
  vertical-align: middle
  margin-top: 80px
  +at-breakpoint($tablet)
    margin-top: 50px

.hero--title
  font-weight: 700
  font-style: normal
  font-size: 42px
  letter-spacing: -0.04em
  line-height: 1
  color: $white
  margin-bottom: 8px
  outline: 0
  word-break: break-word
  +at-breakpoint($tablet)
    font-size: 50px

.hero--description
  font-family: Georgia, Cambria, "Times New Roman", Times,serif
  letter-spacing: .01rem
  font-weight: lighter
  font-style: normal
  margin: 0 0 10px 0 !important
  padding: 0
  color: $white
  outline: 0
  word-break: break-word
  +at-breakpoint($tablet)
    font-size: 22px

.navbar
  display: none
  +clearfix
  color: $white
  border-top: 1px $gray solid
  padding: 0
  +at-breakpoint($tablet)
    display: block


.navbar--tabs
  list-style: none
  margin: 0
  padding: 0

.navbar--tabs--item
  display: block
  +at-breakpoint($tablet)
    display: inline-block
    margin-right: 20px

  &:last-child
    margin-right: 0px

  a
    font-weight: 700
    font-style: normal
    display: block
    font-size: 13px
    text-transform: uppercase
    letter-spacing: .2em
    padding: 20px 0
    color: $white

.navbar--tabs--item.active a 
  text-decoration: line-through

.pagetitle
  background-color: $dark-blue
  border-top: 2px solid #a7b7d4
  color: $white

.pagetitle--title
  height: 45px
  font-weight: 700
  font-style: normal
  line-height: 45px
  text-align: center
  text-transform: uppercase
  letter-spacing: 0.1em
  +at-breakpoint($tablet)
    font-size: 20px
