<div class="footer">
  <%= link_to "o utisku", about_path %> |
  <%= link_to "api", api_path %> |
  <%= link_to "novosti", "#" %> |
  <%= link_to "@najutisak", "http://twitter.com/najutisak" %>
</div>
